---
import type { BreadcrumbsCollection, BreadcrumbsStyle } from '@lib/utils/types';
import Breadcrumbs from '@components/navigation/Breadcrumbs.astro';
import type { CollectionEntry } from 'astro:content';
import ModulesTOC from '@components/navigation/ModulesTOC.astro';
import type { PageHeader } from '@content/pages';
import RichTextBlocksLite from '@components/richText/RichTextBlocksLite.astro';
import SanityImage from '@components/SanityImage.astro';
import type { SanityImage as SanityImageType } from '@lib/utils/types';

interface Props {
    title: string;
    header?: PageHeader;
    modules?: CollectionEntry<'pages'>['data']['modules'];
    breadcrumbsStyle?: BreadcrumbsStyle;
    breadcrumbsCollection?: BreadcrumbsCollection;
    image?: SanityImageType | null;
}

const {
    title,
    header,
    modules,
    breadcrumbsStyle = 'default',
    breadcrumbsCollection = 'pages',
} = Astro.props;
---

<header class="page-header" data-layout={header?.layout}>
    <Breadcrumbs collection={breadcrumbsCollection} style={breadcrumbsStyle} />
    <div class="content-wrapper">
        <div class="flow" data-tempo="moderato">
            <h1 class="mega-title">{title}</h1>
            {
                header?.preview && header?.preview.length > 0 && (
                    <div class="preview | text-center">
                        <RichTextBlocksLite blocks={header.preview} />
                    </div>
                )
            }
            {
                header?.image && (
                    <div class="image-wrapper">
                        <SanityImage
                            alt={header?.image.alt}
                            aspectRatio={[16, 9]}
                            loading="eager"
                            source={header?.image}
                            width={1600}
                        />
                    </div>
                )
            }
            {
                modules && modules.length > 0 && (
                    <ModulesTOC modules={modules} type="header" />
                )
            }
        </div>
    </div>
</header>

<style>
    h1 {
        margin-block-start: var(--section-spacing);
        text-align: center;
        max-width: var(--wrapper-max-width-slim);
        margin-inline: auto;
    }

    .preview {
        font-size: var(--step-1);
        max-width: var(--paragraph-measure);
        margin-inline: auto;
    }

    .image-wrapper {
        --flow-space: var(--space-xl);
    }

    @media screen and (max-width: 640px) {
        h1 {
            margin-block-start: var(--space-2xl);
        }

        .image-wrapper {
            --flow-space: var(--space-l);
        }
    }
</style>
